In [1]:
"""
By Keesari Vigneshwar Reddy
22UCC052
"""
print("Hello world")

Hello world

In [2]:
# reading the csv file with pandas library
# this file has header
import pandas as pd
df = pd.read_csv("50_Startups.csv")

In [3]:
# data frame
df

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [4]:
# display the first few rows of column
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [5]:
# print data types of all columns
df.dtypes
# all the data types belong to float which is quite relevant according to our data set

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State               object
Profit             float64
dtype: object

In [6]:
# Standard statistical data on numeric columns
df.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [7]:
"""
Dirty Data includes -> Incorrect names and typos, No consistent formatting, blank or null feilds
                       Duplicate rows,
"""

'\nDirty Data includes -> Incorrect names and typos, No consistent formatting, blank or null feilds\n                       Duplicate rows,\n'

In [8]:
# count of missing values in data frame
df.isnull().sum()
# we do not have any missing values or null values in our data frame

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [9]:
# count of duplicate values column wise
df.duplicated().sum()
# we do not have duplicate rows in our data frame

0

In [10]:
df.tail()

    R&D Spend  Administration  Marketing Spend       State    Profit
45    1000.23       124153.04          1903.93    New York  64926.08
46    1315.46       115816.21        297114.46     Florida  49490.75
47       0.00       135426.92             0.00  California  42559.73
48     542.05        51743.15             0.00    New York  35673.41
49       0.00       116983.80         45173.06  California  14681.40

In [11]:
"""
Now comes the part to remove irrelevant data
Assumption -> I believe that no startup could be scaled or established without R&D and Marketing Expenditure.
              So I am deleting the rows which where R&D Expenditure = 0
                                                           or
                                                    Marketing expenditure = 0
"""

'\nNow comes the part to remove irrelevant data\nAssumption -> I believe that no startup could be scaled or established without R&D and Marketing Expenditure.\n              So I am deleting the rows which where R&D Expenditure = 0\n                                                           or\n                                                    Marketing expenditure = 0\n'

In [12]:
df.drop(df[df['R&D Spend'] == 0].index, inplace=True)
df.drop(df[df['Marketing Spend'] == 0].index, inplace=True)

In [13]:
df

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75

In [14]:
"""
we have 3 distinct states in data frame 
it would be better to analyze the startups if we divide the data frame to 3 other data frames
since New york, Florida, California belong to different states in USA, some rules and perspectives are dependent on place to place
For a good data analysis, it is better to create 3 other data frames
"""
pd.Categorical(df['State'])

['New York', 'California', 'Florida', 'New York', 'Florida', ..., 'California', 'New York', 'California', 'New York', 'Florida']
Length: 46
Categories (3, object): ['California', 'Florida', 'New York']

In [15]:
df1 = df[df['State'] == 'New York']
df1 = df1.reset_index()
df1
# Now we have new indices and indices in original data frame

    index  R&D Spend  Administration  Marketing Spend     State     Profit
0       0  165349.20       136897.80        471784.10  New York  192261.83
1       3  144372.41       118671.85        383199.62  New York  182901.99
2       5  131876.90        99814.71        362861.36  New York  156991.12
3       8  120542.52       148718.95        311613.29  New York  152211.77
4      15  114523.61       122616.84        261776.23  New York  129917.04
5      17   94657.16       145077.58        282574.31  New York  125370.37
6      21   78389.47       153773.43        299737.29  New York  111313.02
7      24   77044.01        99281.34        140574.81  New York  108552.04
8      27   72107.60       127864.55        353183.81  New York  105008.31
9      29   65605.48       153032.06        107138.38  New York  101004.64
10     31   61136.38       152701.92         88218.23  New York   97483.56
11     35   46014.02        85047.44        205517.64  New York   96479.51
12     38   20229.59        65947.93        185265.10  New York   81229.06
13     43   15505.73       127382.30         35534.17  New York   69758.98
14     45    1000.23       124153.04          1903.93  New York   64926.08

In [16]:
df2 = df[df['State'] == 'California']
df2 = df2.reset_index()
df2
# Now we have new indices and indices in original data frame

    index  R&D Spend  Administration  Marketing Spend       State     Profit
0       1  162597.70       151377.59        443898.53  California  191792.06
1       6  134615.46       147198.87        127716.82  California  156122.51
2       9  123334.88       108679.17        304981.62  California  149759.96
3      11  100671.96        91790.61        249744.55  California  144259.40
4      13   91992.39       135495.07        252664.93  California  134307.35
5      16   78013.11       121597.55        264346.06  California  126992.93
6      20   76253.86       113867.30        298664.47  California  118474.03
7      25   64664.71       139553.16        137962.62  California  107404.34
8      32   63408.86       129219.61         46085.25  California   97427.84
9      34   46426.07       157693.92        210797.67  California   96712.80
10     37   44069.95        51283.14        197029.42  California   89949.14
11     39   38558.51        82982.09        174999.30  California   81005.76
12     40   28754.33       118546.05        172795.67  California   78239.91
13     42   23640.93        96189.63        148001.11  California   71498.49
14     44   22177.74       154806.14         28334.72  California   65200.33

In [17]:
df3 = df[df['State'] == 'Florida']
df3 = df3.reset_index()
df3
# Now we have new indices and indices in original data frame

    index  R&D Spend  Administration  Marketing Spend    State     Profit
0       2  153441.51       101145.55        407934.54  Florida  191050.39
1       4  142107.34        91391.77        366168.42  Florida  166187.94
2       7  130298.13       145530.06        323876.68  Florida  155752.60
3      10  101913.08       110594.11        229160.95  Florida  146121.95
4      12   93863.75       127320.38        249839.44  Florida  141585.52
5      14  119943.24       156547.42        256512.92  Florida  132602.65
6      18   91749.16       114175.79        294919.57  Florida  124266.90
7      22   73994.56       122782.75        303319.26  Florida  110352.25
8      23   67532.53       105751.03        304768.73  Florida  108733.99
9      26   75328.87       144135.98        134050.07  Florida  105733.54
10     28   66051.52       182645.56        118148.20  Florida  103282.38
11     30   61994.48       115641.28         91131.24  Florida   99937.59
12     33   55493.95       103057.49        214634.81  Florida   96778.92
13     36   28663.76       127056.21        201126.82  Florida   90708.19
14     41   27892.92        84710.77        164470.71  Florida   77798.83
15     46    1315.46       115816.21        297114.46  Florida   49490.75

In [18]:
"""
There is no need to standardize capitalization since everything is perfect.
Formatting of data set is also perfect.
We can also sort the data frame with respect to numeric aspects on the basis of our requirement
"""

'\nThere is no need to standardize capitalization since everything is perfect.\nFormatting of data set is also perfect.\nWe can also sort the data frame with respect to numeric aspects on the basis of our requirement\n'

In [19]:
# sorting on the basis of R&D Spend
df.sort_values('R&D Spend')

    R&D Spend  Administration  Marketing Spend       State     Profit
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
43   15505.73       127382.30         35534.17    New York   69758.98
38   20229.59        65947.93        185265.10    New York   81229.06
44   22177.74       154806.14         28334.72  California   65200.33
42   23640.93        96189.63        148001.11  California   71498.49
41   27892.92        84710.77        164470.71     Florida   77798.83
36   28663.76       127056.21        201126.82     Florida   90708.19
40   28754.33       118546.05        172795.67  California   78239.91
39   38558.51        82982.09        174999.30  California   81005.76
37   44069.95        51283.14        197029.42  California   89949.14
35   46014.02        85047.44        205517.64    New York   96479.51
34   46426.07       157693.92        210797.67  California   96712.80
33   55493.95       103057.49        214634.81     Florida   96778.92
31   61136.38       152701.92         88218.23    New York   97483.56
30   61994.48       115641.28         91131.24     Florida   99937.59
32   63408.86       129219.61         46085.25  California   97427.84
25   64664.71       139553.16        137962.62  California  107404.34
29   65605.48       153032.06        107138.38    New York  101004.64
28   66051.52       182645.56        118148.20     Florida  103282.38
23   67532.53       105751.03        304768.73     Florida  108733.99
27   72107.60       127864.55        353183.81    New York  105008.31
22   73994.56       122782.75        303319.26     Florida  110352.25
26   75328.87       144135.98        134050.07     Florida  105733.54
20   76253.86       113867.30        298664.47  California  118474.03
24   77044.01        99281.34        140574.81    New York  108552.04
16   78013.11       121597.55        264346.06  California  126992.93
21   78389.47       153773.43        299737.29    New York  111313.02
18   91749.16       114175.79        294919.57     Florida  124266.90
13   91992.39       135495.07        252664.93  California  134307.35
12   93863.75       127320.38        249839.44     Florida  141585.52
17   94657.16       145077.58        282574.31    New York  125370.37
11  100671.96        91790.61        249744.55  California  144259.40
10  101913.08       110594.11        229160.95     Florida  146121.95
15  114523.61       122616.84        261776.23    New York  129917.04
14  119943.24       156547.42        256512.92     Florida  132602.65
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
7   130298.13       145530.06        323876.68     Florida  155752.60
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
4   142107.34        91391.77        366168.42     Florida  166187.94
3   144372.41       118671.85        383199.62    New York  182901.99
2   153441.51       101145.55        407934.54     Florida  191050.39
1   162597.70       151377.59        443898.53  California  191792.06
0   165349.20       136897.80        471784.10    New York  192261.83

In [20]:
# sorting on the basis of Administration
df.sort_values('Administration')

    R&D Spend  Administration  Marketing Spend       State     Profit
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
41   27892.92        84710.77        164470.71     Florida   77798.83
35   46014.02        85047.44        205517.64    New York   96479.51
4   142107.34        91391.77        366168.42     Florida  166187.94
11  100671.96        91790.61        249744.55  California  144259.40
42   23640.93        96189.63        148001.11  California   71498.49
24   77044.01        99281.34        140574.81    New York  108552.04
5   131876.90        99814.71        362861.36    New York  156991.12
2   153441.51       101145.55        407934.54     Florida  191050.39
33   55493.95       103057.49        214634.81     Florida   96778.92
23   67532.53       105751.03        304768.73     Florida  108733.99
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
20   76253.86       113867.30        298664.47  California  118474.03
18   91749.16       114175.79        294919.57     Florida  124266.90
30   61994.48       115641.28         91131.24     Florida   99937.59
46    1315.46       115816.21        297114.46     Florida   49490.75
40   28754.33       118546.05        172795.67  California   78239.91
3   144372.41       118671.85        383199.62    New York  182901.99
16   78013.11       121597.55        264346.06  California  126992.93
15  114523.61       122616.84        261776.23    New York  129917.04
22   73994.56       122782.75        303319.26     Florida  110352.25
45    1000.23       124153.04          1903.93    New York   64926.08
36   28663.76       127056.21        201126.82     Florida   90708.19
12   93863.75       127320.38        249839.44     Florida  141585.52
43   15505.73       127382.30         35534.17    New York   69758.98
27   72107.60       127864.55        353183.81    New York  105008.31
32   63408.86       129219.61         46085.25  California   97427.84
13   91992.39       135495.07        252664.93  California  134307.35
0   165349.20       136897.80        471784.10    New York  192261.83
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
17   94657.16       145077.58        282574.31    New York  125370.37
7   130298.13       145530.06        323876.68     Florida  155752.60
6   134615.46       147198.87        127716.82  California  156122.51
8   120542.52       148718.95        311613.29    New York  152211.77
1   162597.70       151377.59        443898.53  California  191792.06
31   61136.38       152701.92         88218.23    New York   97483.56
29   65605.48       153032.06        107138.38    New York  101004.64
21   78389.47       153773.43        299737.29    New York  111313.02
44   22177.74       154806.14         28334.72  California   65200.33
14  119943.24       156547.42        256512.92     Florida  132602.65
34   46426.07       157693.92        210797.67  California   96712.80
28   66051.52       182645.56        118148.20     Florida  103282.38

In [21]:
# sorting on the basis of Marketing Spend
df.sort_values('Marketing Spend')

    R&D Spend  Administration  Marketing Spend       State     Profit
45    1000.23       124153.04          1903.93    New York   64926.08
44   22177.74       154806.14         28334.72  California   65200.33
43   15505.73       127382.30         35534.17    New York   69758.98
32   63408.86       129219.61         46085.25  California   97427.84
31   61136.38       152701.92         88218.23    New York   97483.56
30   61994.48       115641.28         91131.24     Florida   99937.59
29   65605.48       153032.06        107138.38    New York  101004.64
28   66051.52       182645.56        118148.20     Florida  103282.38
6   134615.46       147198.87        127716.82  California  156122.51
26   75328.87       144135.98        134050.07     Florida  105733.54
25   64664.71       139553.16        137962.62  California  107404.34
24   77044.01        99281.34        140574.81    New York  108552.04
42   23640.93        96189.63        148001.11  California   71498.49
41   27892.92        84710.77        164470.71     Florida   77798.83
40   28754.33       118546.05        172795.67  California   78239.91
39   38558.51        82982.09        174999.30  California   81005.76
38   20229.59        65947.93        185265.10    New York   81229.06
37   44069.95        51283.14        197029.42  California   89949.14
36   28663.76       127056.21        201126.82     Florida   90708.19
35   46014.02        85047.44        205517.64    New York   96479.51
34   46426.07       157693.92        210797.67  California   96712.80
33   55493.95       103057.49        214634.81     Florida   96778.92
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
46    1315.46       115816.21        297114.46     Florida   49490.75
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
9   123334.88       108679.17        304981.62  California  149759.96
8   120542.52       148718.95        311613.29    New York  152211.77
7   130298.13       145530.06        323876.68     Florida  155752.60
27   72107.60       127864.55        353183.81    New York  105008.31
5   131876.90        99814.71        362861.36    New York  156991.12
4   142107.34        91391.77        366168.42     Florida  166187.94
3   144372.41       118671.85        383199.62    New York  182901.99
2   153441.51       101145.55        407934.54     Florida  191050.39
1   162597.70       151377.59        443898.53  California  191792.06
0   165349.20       136897.80        471784.10    New York  192261.83

In [22]:
"""
And we can do many operations on the basis of our requirement
"""

'\nAnd we can do many operations on the basis of our requirement\n'

In [23]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [24]:
# Or there can be another way instead of creating 3 other data frames
# using label encoder we can convert categorical values to numerical values 
label_encoder = LabelEncoder()
df['State'] = label_encoder.fit_transform(df['State'])
df

    R&D Spend  Administration  Marketing Spend  State     Profit
0   165349.20       136897.80        471784.10      2  192261.83
1   162597.70       151377.59        443898.53      0  191792.06
2   153441.51       101145.55        407934.54      1  191050.39
3   144372.41       118671.85        383199.62      2  182901.99
4   142107.34        91391.77        366168.42      1  166187.94
5   131876.90        99814.71        362861.36      2  156991.12
6   134615.46       147198.87        127716.82      0  156122.51
7   130298.13       145530.06        323876.68      1  155752.60
8   120542.52       148718.95        311613.29      2  152211.77
9   123334.88       108679.17        304981.62      0  149759.96
10  101913.08       110594.11        229160.95      1  146121.95
11  100671.96        91790.61        249744.55      0  144259.40
12   93863.75       127320.38        249839.44      1  141585.52
13   91992.39       135495.07        252664.93      0  134307.35
14  119943.24       156547.42        256512.92      1  132602.65
15  114523.61       122616.84        261776.23      2  129917.04
16   78013.11       121597.55        264346.06      0  126992.93
17   94657.16       145077.58        282574.31      2  125370.37
18   91749.16       114175.79        294919.57      1  124266.90
20   76253.86       113867.30        298664.47      0  118474.03
21   78389.47       153773.43        299737.29      2  111313.02
22   73994.56       122782.75        303319.26      1  110352.25
23   67532.53       105751.03        304768.73      1  108733.99
24   77044.01        99281.34        140574.81      2  108552.04
25   64664.71       139553.16        137962.62      0  107404.34
26   75328.87       144135.98        134050.07      1  105733.54
27   72107.60       127864.55        353183.81      2  105008.31
28   66051.52       182645.56        118148.20      1  103282.38
29   65605.48       153032.06        107138.38      2  101004.64
30   61994.48       115641.28         91131.24      1   99937.59
31   61136.38       152701.92         88218.23      2   97483.56
32   63408.86       129219.61         46085.25      0   97427.84
33   55493.95       103057.49        214634.81      1   96778.92
34   46426.07       157693.92        210797.67      0   96712.80
35   46014.02        85047.44        205517.64      2   96479.51
36   28663.76       127056.21        201126.82      1   90708.19
37   44069.95        51283.14        197029.42      0   89949.14
38   20229.59        65947.93        185265.10      2   81229.06
39   38558.51        82982.09        174999.30      0   81005.76
40   28754.33       118546.05        172795.67      0   78239.91
41   27892.92        84710.77        164470.71      1   77798.83
42   23640.93        96189.63        148001.11      0   71498.49
43   15505.73       127382.30         35534.17      2   69758.98
44   22177.74       154806.14         28334.72      0   65200.33
45    1000.23       124153.04          1903.93      2   64926.08
46    1315.46       115816.21        297114.46      1   49490.75

In [25]:
# sorting them on the basis of state
df.sort_values("State")

    R&D Spend  Administration  Marketing Spend  State     Profit
25   64664.71       139553.16        137962.62      0  107404.34
13   91992.39       135495.07        252664.93      0  134307.35
34   46426.07       157693.92        210797.67      0   96712.80
11  100671.96        91790.61        249744.55      0  144259.40
9   123334.88       108679.17        304981.62      0  149759.96
32   63408.86       129219.61         46085.25      0   97427.84
39   38558.51        82982.09        174999.30      0   81005.76
37   44069.95        51283.14        197029.42      0   89949.14
40   28754.33       118546.05        172795.67      0   78239.91
20   76253.86       113867.30        298664.47      0  118474.03
42   23640.93        96189.63        148001.11      0   71498.49
44   22177.74       154806.14         28334.72      0   65200.33
1   162597.70       151377.59        443898.53      0  191792.06
6   134615.46       147198.87        127716.82      0  156122.51
16   78013.11       121597.55        264346.06      0  126992.93
28   66051.52       182645.56        118148.20      1  103282.38
30   61994.48       115641.28         91131.24      1   99937.59
23   67532.53       105751.03        304768.73      1  108733.99
26   75328.87       144135.98        134050.07      1  105733.54
41   27892.92        84710.77        164470.71      1   77798.83
33   55493.95       103057.49        214634.81      1   96778.92
36   28663.76       127056.21        201126.82      1   90708.19
46    1315.46       115816.21        297114.46      1   49490.75
22   73994.56       122782.75        303319.26      1  110352.25
2   153441.51       101145.55        407934.54      1  191050.39
18   91749.16       114175.79        294919.57      1  124266.90
4   142107.34        91391.77        366168.42      1  166187.94
7   130298.13       145530.06        323876.68      1  155752.60
14  119943.24       156547.42        256512.92      1  132602.65
12   93863.75       127320.38        249839.44      1  141585.52
10  101913.08       110594.11        229160.95      1  146121.95
24   77044.01        99281.34        140574.81      2  108552.04
43   15505.73       127382.30         35534.17      2   69758.98
3   144372.41       118671.85        383199.62      2  182901.99
5   131876.90        99814.71        362861.36      2  156991.12
38   20229.59        65947.93        185265.10      2   81229.06
35   46014.02        85047.44        205517.64      2   96479.51
45    1000.23       124153.04          1903.93      2   64926.08
15  114523.61       122616.84        261776.23      2  129917.04
31   61136.38       152701.92         88218.23      2   97483.56
17   94657.16       145077.58        282574.31      2  125370.37
29   65605.48       153032.06        107138.38      2  101004.64
27   72107.60       127864.55        353183.81      2  105008.31
21   78389.47       153773.43        299737.29      2  111313.02
8   120542.52       148718.95        311613.29      2  152211.77
0   165349.20       136897.80        471784.10      2  192261.83

In [26]:
"""
Our data is ready for implementing a learning algorithm
"""

'\nOur data is ready for implementing a learning algorithm\n'

# Logistic Regression as an example

In [27]:
"""
making x array which contains all the 4 values -> R&D Spend	
                                                  Administration
                                                  Marketing Spend
                                                  Profit
"""
# Creating a numpy array of data frame
x = df[["R&D Spend", "Administration", "Marketing Spend", "Profit"]].values
x

array([[165349.2 , 136897.8 , 471784.1 , 192261.83],
       [162597.7 , 151377.59, 443898.53, 191792.06],
       [153441.51, 101145.55, 407934.54, 191050.39],
       [144372.41, 118671.85, 383199.62, 182901.99],
       [142107.34,  91391.77, 366168.42, 166187.94],
       [131876.9 ,  99814.71, 362861.36, 156991.12],
       [134615.46, 147198.87, 127716.82, 156122.51],
       [130298.13, 145530.06, 323876.68, 155752.6 ],
       [120542.52, 148718.95, 311613.29, 152211.77],
       [123334.88, 108679.17, 304981.62, 149759.96],
       [101913.08, 110594.11, 229160.95, 146121.95],
       [100671.96,  91790.61, 249744.55, 144259.4 ],
       [ 93863.75, 127320.38, 249839.44, 141585.52],
       [ 91992.39, 135495.07, 252664.93, 134307.35],
       [119943.24, 156547.42, 256512.92, 132602.65],
       [114523.61, 122616.84, 261776.23, 129917.04],
       [ 78013.11, 121597.55, 264346.06, 126992.93],
       [ 94657.16, 145077.58, 282574.31, 125370.37],
       [ 91749.16, 114175.79, 294919.57, 124266.9 ],
       [ 76253.86, 113867.3 , 298664.47, 118474.03],
       [ 78389.47, 153773.43, 299737.29, 111313.02],
       [ 73994.56, 122782.75, 303319.26, 110352.25],
       [ 67532.53, 105751.03, 304768.73, 108733.99],
       [ 77044.01,  99281.34, 140574.81, 108552.04],
       [ 64664.71, 139553.16, 137962.62, 107404.34],
       [ 75328.87, 144135.98, 134050.07, 105733.54],
       [ 72107.6 , 127864.55, 353183.81, 105008.31],
       [ 66051.52, 182645.56, 118148.2 , 103282.38],
       [ 65605.48, 153032.06, 107138.38, 101004.64],
       [ 61994.48, 115641.28,  91131.24,  99937.59],
       [ 61136.38, 152701.92,  88218.23,  97483.56],
       [ 63408.86, 129219.61,  46085.25,  97427.84],
       [ 55493.95, 103057.49, 214634.81,  96778.92],
       [ 46426.07, 157693.92, 210797.67,  96712.8 ],
       [ 46014.02,  85047.44, 205517.64,  96479.51],
       [ 28663.76, 127056.21, 201126.82,  90708.19],
       [ 44069.95,  51283.14, 197029.42,  89949.14],
       [ 20229.59,  65947.93, 185265.1 ,  81229.06],
       [ 38558.51,  82982.09, 174999.3 ,  81005.76],
       [ 28754.33, 118546.05, 172795.67,  78239.91],
       [ 27892.92,  84710.77, 164470.71,  77798.83],
       [ 23640.93,  96189.63, 148001.11,  71498.49],
       [ 15505.73, 127382.3 ,  35534.17,  69758.98],
       [ 22177.74, 154806.14,  28334.72,  65200.33],
       [  1000.23, 124153.04,   1903.93,  64926.08],
       [  1315.46, 115816.21, 297114.46,  49490.75]])

In [28]:
# second array
y = df["State"].values
y

array([2, 0, 1, 2, 1, 2, 0, 1, 2, 0, 1, 0, 1, 0, 1, 2, 0, 2, 1, 0, 2, 1,
       1, 2, 0, 1, 2, 1, 2, 1, 2, 0, 1, 0, 2, 1, 0, 2, 0, 0, 1, 0, 2, 0,
       2, 1])

In [29]:
# since this is supervised learning we are to split data into train and test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)
# In our whole data 20% is test data and 80% is train data

In [30]:
# Algorithm 1 -> Logistic regression
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(x_train, y_train)
# we have fitted the training model on train_data

LogisticRegression()

In [31]:
# prediction
y_pred = logmodel.predict(x_test)
print(y_pred)
print(y_test)

[2 2 2 2 2 2 2 1 2 2]
[0 0 1 0 1 1 1 0 1 2]

In [32]:
# confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[0, 1, 3],
       [0, 0, 5],
       [0, 0, 1]])

In [33]:
#accuracy
(0 + 0 + 1) / (0 + 1 + 3 + 0 + 0 + 5 + 0 + 0 + 1)

0.1

In [34]:
"""
In this way we made our data frame to implement a machine learning model. Simply to say "We have preprocessed the data"
We can perform other algorithms also for better accuracy
"""

'\nIn this way we made our data frame to implement a machine learning model. Simply to say "We have preprocessed the data"\nWe can perform other algorithms also for better accuracy\n'

# Implementing Support Vector Machine with Linear Kernel

In [35]:
# linear kernel
from sklearn.svm import SVC
classifier_svm_linear = SVC(kernel='linear')
classifier_svm_linear.fit(x_train, y_train)

SVC(kernel='linear')

In [37]:
# prediction
y_pred = classifier_svm_linear.predict(x_test)
# confusion matrix
confusion_matrix(y_test, y_pred)

array([[0, 1, 3],
       [0, 0, 5],
       [0, 0, 1]])

In [39]:
# final data frame
df

    R&D Spend  Administration  Marketing Spend  State     Profit
0   165349.20       136897.80        471784.10      2  192261.83
1   162597.70       151377.59        443898.53      0  191792.06
2   153441.51       101145.55        407934.54      1  191050.39
3   144372.41       118671.85        383199.62      2  182901.99
4   142107.34        91391.77        366168.42      1  166187.94
5   131876.90        99814.71        362861.36      2  156991.12
6   134615.46       147198.87        127716.82      0  156122.51
7   130298.13       145530.06        323876.68      1  155752.60
8   120542.52       148718.95        311613.29      2  152211.77
9   123334.88       108679.17        304981.62      0  149759.96
10  101913.08       110594.11        229160.95      1  146121.95
11  100671.96        91790.61        249744.55      0  144259.40
12   93863.75       127320.38        249839.44      1  141585.52
13   91992.39       135495.07        252664.93      0  134307.35
14  119943.24       156547.42        256512.92      1  132602.65
15  114523.61       122616.84        261776.23      2  129917.04
16   78013.11       121597.55        264346.06      0  126992.93
17   94657.16       145077.58        282574.31      2  125370.37
18   91749.16       114175.79        294919.57      1  124266.90
20   76253.86       113867.30        298664.47      0  118474.03
21   78389.47       153773.43        299737.29      2  111313.02
22   73994.56       122782.75        303319.26      1  110352.25
23   67532.53       105751.03        304768.73      1  108733.99
24   77044.01        99281.34        140574.81      2  108552.04
25   64664.71       139553.16        137962.62      0  107404.34
26   75328.87       144135.98        134050.07      1  105733.54
27   72107.60       127864.55        353183.81      2  105008.31
28   66051.52       182645.56        118148.20      1  103282.38
29   65605.48       153032.06        107138.38      2  101004.64
30   61994.48       115641.28         91131.24      1   99937.59
31   61136.38       152701.92         88218.23      2   97483.56
32   63408.86       129219.61         46085.25      0   97427.84
33   55493.95       103057.49        214634.81      1   96778.92
34   46426.07       157693.92        210797.67      0   96712.80
35   46014.02        85047.44        205517.64      2   96479.51
36   28663.76       127056.21        201126.82      1   90708.19
37   44069.95        51283.14        197029.42      0   89949.14
38   20229.59        65947.93        185265.10      2   81229.06
39   38558.51        82982.09        174999.30      0   81005.76
40   28754.33       118546.05        172795.67      0   78239.91
41   27892.92        84710.77        164470.71      1   77798.83
42   23640.93        96189.63        148001.11      0   71498.49
43   15505.73       127382.30         35534.17      2   69758.98
44   22177.74       154806.14         28334.72      0   65200.33
45    1000.23       124153.04          1903.93      2   64926.08
46    1315.46       115816.21        297114.46      1   49490.75

In [40]:
final = df
final.to_csv("Final_Data_cleaned_Copy.csv")